<h1>Create a New Post!</h1>

<form action="<%= posts_url %>" method="post">

  <label>Select Circles: <br>
    <% @user.owned_circles.each do |circle| %>
      <label>
        <input <%= "checked" if @post.circle_ids.include?(circle.id)%>
        type="checkbox" name="post[circle_ids][]" value="<%= circle.id %>">
        <%= circle.name %></label>
      <br>
    <% end %>
  </label><br>

  <label>Post Title:<br>
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br><br>

  <label>Post Body:<br>
    <textarea name="post[body]"><%= @post.body %></textarea>
  </label>
  <br><br>

  <label>Link 1:
    <input type="text" name="post[links_attributes][0][url]">
  </label><br>
  <label>Link 2:
    <input type="text" name="post[links_attributes][1][url]">
  </label><br>
  <label>Link 3:
    <input type="text" name="post[links_attributes][2][url]">
  </label><br><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Create a Circle">
</form>